services:
  web:
    build: .
    depends_on:
      - db
    ports:
      - "8069:8069"
      - "5678:5678"  # Port สำหรับ debugpy (ถ้าต้องการใช้ในอนาคต)
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./custom_addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    shm_size: '2gb'  # เพิ่ม shared memory สำหรับ PaddlePaddle
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

volumes:
  odoo-web-data:
  odoo-db-data:
